# SQLite
build-in library (python>2.5) is sqlite3 (DB-API 2.0 specification described by PEP249)

## database
create/connect, delete a database

In [22]:
import sqlite3 as db

#create a database
#create a database file known as "hello.db"
#connect this database if the file exists
conn = db.connect('hello.db')
conn.commit()
conn.close()

#create a database in memory
conn = db.connect(":memory:")

## table
create, delete a table
add one/multiple items, list items

In [1]:
import sqlite3

conn = sqlite3.connect('todo.db')
#the cursor object execute any SQL statement
c = conn.cursor()

In [43]:
conn.commit()
conn.close()

In [23]:
#create a table
#excecute() execute SQL statement "CREATE TABLE"
try:
    c.execute('''
        CREATE TABLE tasks (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            priority INTEGER NOT NULL
        );
    ''')
except sqlite3.OperationalError as e:
    print(str(e))

table tasks already exists

In [8]:
#insert one item
c.execute('INSERT INTO tasks (name, priority) VALUES (?,?);', 
    ('Cary', 1))

In [23]:
#insert many items 
tasks = [
    ('My first task', 1),
    ('My second task', 5),
    ('My third task', 10),
]
c.executemany('INSERT INTO tasks (name, priority) VALUES (?,?)', tasks)

OperationalError: database is locked

In [7]:
# list items
items = c.execute('SELECT * FROM tasks;')
for row in items:
    print(row)
    
items = c.execute('SELECT id,name FROM tasks;')
for row in items:
    print(row)

(1, 'cary', 3)
(2, 'north', 4)
(3, 'south', 1)
(4, 'east', 3)
(1, 'cary')
(2, 'north')
(3, 'south')
(4, 'east')
(1, 'cary')

In [31]:
#Note the patterns below are equal
items = c.execute("SELECT id,name FROM tasks WHERE name='%s'" % 'cary')
for row in items:
    print(row)

items = c.execute("SELECT id,name FROM tasks WHERE name=?", ('cary',) )
for row in items:
    print(row)

items = c.execute('SELECT id,name FROM tasks WHERE name=?', ('cary',) )
for row in items:
    print(row)

items = c.execute('''
    SELECT id,name FROM tasks WHERE name=?
''', ('cary',) )
for row in items:
    print(row)

myname = 'cary'
items = c.execute("SELECT id,name FROM tasks WHERE name=?", (myname,) )
for row in items:
    print(row)

myname = 'cary'
items = c.execute("SELECT id,name FROM tasks WHERE name=:myname", 
        {"myname":myname} )
for row in items:
    print(row)
    
mytable = 'tasks'
myname='cary'
query = f"SELECT id, name FROM {mytable} WHERE name=?"
items = c.execute(query, (myname,))
for row in items.fetchall():
    print(row)

(1, 'cary')
(1, 'cary')
(1, 'cary')
(1, 'cary')
(1, 'cary')
(1, 'cary')
(1, 'cary')

### where conditions

In [22]:
#exact match
query = f"SELECT id, name FROM tasks WHERE name=?"
items = c.execute(query, ('cary',))
for row in items.fetchall():
    print(row)

(1, 'cary')

In [24]:
query = f"SELECT ?"
items = c.execute(query, (1,))
for row in items.fetchall():
    print(row)

(1,)

In [34]:
#partial match
query = f"SELECT id, name FROM tasks WHERE name LIKE ? "
items = c.execute(query, ("%o%",))
for row in items.fetchall():
    print(row)

(2, 'north')
(3, 'south')

In [35]:
#AND boolean
query = f"SELECT id, name FROM tasks WHERE name LIKE ? AND priority > ?"
items = c.execute(query, ('%o%',2))
for row in items.fetchall():
    print(row)

(2, 'north')

### order

In [28]:
query = f"SELECT * FROM tasks order by name"
items = c.execute(query)
for row in items.fetchall():
    print(row)

query = f"SELECT * FROM tasks order by name ASC"
items = c.execute(query)
for row in items.fetchall():
    print(row)

(1, 'cary', 3)
(4, 'east', 3)
(2, 'north', 4)
(3, 'south', 1)
(1, 'cary', 3)
(4, 'east', 3)
(2, 'north', 4)
(3, 'south', 1)

In [30]:
query = f"SELECT * FROM tasks order by priority ASC, name DESC"
items = c.execute(query)
for row in items.fetchall():
    print(row)

(3, 'south', 1)
(4, 'east', 3)
(1, 'cary', 3)
(2, 'north', 4)

# wrong syntax

In [14]:
# keep one line
c.execute('
    SELECT * FROM tasks;
')

SyntaxError: EOL while scanning string literal (<ipython-input-14-f13c0f14e4f6>, line 2)

In [15]:
#should use '''
c.execute('
        CREATE TABLE tasks (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            priority INTEGER NOT NULL
        );
')

SyntaxError: EOL while scanning string literal (<ipython-input-15-024f6e79927c>, line 1)